<form method="post" action="" id="form-data">
  {% csrf_token %}

  <div class="modal-header py-2 bg-{{ options.theme_color }}">
    <h4 class="modal-title">Change Password</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="id_new_password1">New password:</label>
      <input type="password" name="new_password1" id="id_new_password1" required class="form-control" placeholder="Enter new password" />
      {% if form.new_password1.errors %}
      <div class="text-danger">{{ form.new_password1.errors }}</div>
      {% endif %}
      <small class="form-text text-muted">
        {{ form.new_password1.help_text }}
      </small>
    </div>

    <div class="form-group">
      <label for="id_new_password2">New password confirmation:</label>
      <input type="password" name="new_password2" id="id_new_password2" required class="form-control" placeholder="Confirm new password" />
      {% if form.new_password2.errors %}
      <div class="text-danger">{{ form.new_password2.errors }}</div>
      {% endif %}
    </div>

    {% if form.non_field_errors %}
    <div class="alert alert-danger">{{ form.non_field_errors }}</div>
    {% endif %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-lg btn-primary">Save</button>
  </div>
</form>
